@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto Condenced";
    color: white;
  }

  body {
    @apply bg-neutral-900;
  }

  .wrapper {
    @apply px-4 xl:px-16;
  }

  .box {
    @apply w-[1280px] max-w-full mx-auto;
  }
}

@layer components {
  .button {
    @apply w-fit py-3 px-12 uppercase text-white font-semibold text-base leading-none flex items-center justify-center bg-neutral-900 rounded-lg border-2 border-yellow-500 duration-200;

    position: relative;
  }

  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/arrow-yellow-right.svg') no-repeat center left 8px;
    background-size: auto 100%;
    z-index: 1;
    transition: .2s linear;
  }

  .button:hover::before {
    background-position-x: right 0;
  }

  .button--yellow {
    @apply bg-yellow-300 text-neutral-900;
  }

  .button--yellow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/arrow-black-right.svg') no-repeat center left 8px;
    background-size: auto 100%;
    z-index: 1;
    transition: .2s linear;
  }

  .heading {
    @apply font-bold text-5xl md:text-6xl;
  }

  .subheading {
    @apply text-lg font-semibold md:text-xl;
  }

  /* Contact Form */

  .form-wrapper {}

  .wpcf7-form {
    @apply grid gap-6 sm:grid-cols-6;
  }

  .wpcf7-form-control-wrap {
    @apply block w-full sm:col-span-3;
  }

  .wpcf7-form-control-wrap[data-name="your-message"] {
    @apply sm:col-span-6;
  }

  .custom-form-input {
    @apply block bg-neutral-700 w-full text-white font-light p-2 outline-none;
  }

  .custom-form-input:focus {
    @apply outline-dashed outline-yellow-500;
  }

  textarea.custom-form-input {
    @apply resize-none;
  }

  .wpcf7-response-output {
    @apply md:col-span-6;
  }
}